*{
    padding: 0;
    margin: 0;
}
body{
    background-color: lightgrey;
}
.logo{
    background-color: white;
    height: 60px;
}
h1{
    margin-left: 30px;
    font-family: 'Patua One', cursive;
    font-size: 35px;
    line-height: 60px;
}
.products{
    margin-top: 30px;
    background-color: white;
    text-align: center;
}
.img{
    max-width: 100%;
}
h3{
    font-family: 'Patua One', cursive;
}
h4{
    font-family: 'Patua One', cursive;
}
p{
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}
.button{
    background-color: #222222;
    width: 100%;
    height: 30px;
}
a{
    text-decoration: none;
    color: white;
    line-height: 30px;
}
a:hover{
    text-decoration: none;
    color: white;
}
.loadmore{
    text-align: center;
}