li{
    list-style: none;
    float: left;
    line-height: 100px;
    font-size: 20px;
    margin-right: 30px;
}
.nav{
    margin-left: -100px;
}
.background{
    width: 100%;
}
h1{
    text-align: center;
}