p{
    font-family: 'Baloo Tammudu 2', cursive;
    padding-left: 20px;
    line-height: 1.5;
}
td{
    font-family: 'Baloo Tammudu 2', cursive;
    line-height: 1.5;
}
h3{
    font-family: 'Baloo Tammudu 2', cursive;
    color: firebrick;
    text-decoration: underline;
    font-style: italic;
}
hr{
    border-bottom: solid 2px darkviolet;
}